*{
	box-sizing: border-box;
}

body {
	background-color: #cccccc;
}

/* Account Page */

.account-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	height: 50vh;
	position: relative;
	padding: 2rem;
}

.account-container .image-box{
	position: relative;
	height: 80%;
	margin-right: 2rem;
}

.image-action img {
	height: 100%;
}

.account-container table{
	height: 80%;
}

.account-container th{
	padding-left: 2rem;
	padding-right: 1rem;
	text-transform: uppercase;
}

.image-box img {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 50%;
  }
  
.image-box .image-action {
	padding: 50% 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: rgb(80, 121, 134);
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-action a{
	color: #fff;
	font-size: 20px;
}

.image-box:hover .image-action {
	opacity: 0.8;
	border-radius: 50%;
}

.btn-change-password{
	position: fixed;
	right: 0;
}

/* Task Page */

.task-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: 50%;
	flex-direction: column;
}

.task-container .submit-btn{
}

.task-container table{	
	overflow: scroll;
	margin-bottom: 2rem;
	flex-basis: 100%;
}

.task-container table th{
	padding: 1rem;
}

.task-container .submit-form{
	flex: 3;
}

/* Absence page */


.absence-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: 50%;
}

.absence-container .submit-btn{
}

.absence-container table{	
	overflow: scroll;
	margin-bottom: 2rem;
}

.btn:hover{
	transform: scale(0.96) !important;
}

.absence-container table th{
	padding: 1rem;
}

.absence-container .submit-form{
	flex: 3;
}


#user-absence-info{
	flex-basis: 51%
}
#user-absence-info th{
	padding: 0 !important;
}

@media (max-width:524px) {
	.absence-history th{
		padding: 0.2rem;
	}
}
